include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome-section
          section.hero
            .container.hero__container
              header.header
                .logo
                  +image('content/ba.png', 'logo_img')
                .header__menu
                  nav.nav
                    ul.nav__list
                      - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                      each item in menu
                        li.nav__item
                          a(href="#").nav_link #{item}
                .header__links
                  ul.socials
                      - var socials = ['insta', 'vk', 'github'];

                      each item in socials
                        li.socials__item
                          a(href="#").socials__link
                            +icon(`${item}`, 'socials__icon')
              .hero__content
                .user-info
                  .user-info__description Личный сайт #[br]веб разработчика
                  .user-info__name Макарова Анна
              a(href="#").hero__bottom--buttons Скролл
                .scroll__down-img
                  +icon("scroll", "scroll__icon")
          section.about
            .container.container__about
              .about__left
                .user
                  .user__avatar
                    +image('content/user.jpg', 'user__img')
                  .user__data
                    table.user__data--table
                      - 
                        var data = [
                          ['Проживаю', 'Москва'],
                          ['Возраст', '27 лет'],
                          ['Родилась', '9 апреля 1992']
                        ]
                      each row in data
                        tr.user__data--row
                          td.user__data--cell #{row[0]}
                          td.user__data--string #{row[1]}
                    
              .about__right 
                .about__welcome Привет, меня зовут
                .about__name Макарова Анна
                .about__desc Я занимаюсь разработкой современных сайтов и приложений.#[br]Мне нравится делать интересные и современные проекты.
                .about__desc.about__desc-ps Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        section.values
          .container.container__values
            .values__img 
            //рюкзак при помощт бекграунд
            .values__text
              .values__content
                h2.title.values__title Чем я могу быть полезен вам
                .values__description 
                  p.desc.values__description--desc  Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
              .values__widget
                #skills-component
                
        section.my-work
          .container.container__my-work
            h2.title.my-work__title Мои работы
            .my-work__content
              .slider
                +image('content/slider1.png', 'slider_img1')
              .my-work__school
                .my-work__skill
                  .my-work__skill--types HTML
                  .my-work__skill--types CSS
                  .my-work__skill--types JavaScript
                .my-work__web
                  h2.title.my-work__web--title Сайт школы образования
                  p.my_work-web--text Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                a(href="").my-work__link
                 .my-work__link--icon 
                  +icon("link", "my-work__svg")
                 span.my-work__link--school Посмотреть сайт
        .bottom-section
          section.reviews
            .container.reviews__container
              .reviews__top
                .title.reviews__title
                  h2.title.reviews__title--text Что обо мне говорят
                .reviews__slider--buttons
                  button.review__btn--link
                    .review__btn.review__btn--right
                      +icon("arrow-down", "review__svg--right")
                  button.review__btn--link
                    .review__btn.review__btn--left
                      +icon("arrow-down", "review__svg--left")
              .reviews__slider
                ul.reviews__slider--list
                  - for (var i = 0; i < 2; i++)
                    li.reviews__slider--items
                      .quote
                        .quote__text
                        .quote__user 
                          p.quote__user--text Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                      .user.user__reviews
                        .user__avatar--reviews
                          +image('content/kov.png', 'user__review--img')
                        .user__data
                          .user__name Ковальчук Дмитрий
                          .user__description Основатель Loft School
                    
          section.form
            .container.form__container
              h2.title.form__title Связаться со мной
              form(action="").order__form
                .input
                  .input__container
                    .input__name Введите Ваше имя
                    label(for="input_form-name").input__label.input__label--name
                    input(type="text" placeholder="Ковальчук Дмитрий" id="input_form-name").input__form.input__form--name
                  .input__container
                    .input__name Введите ваш email
                    input(type="email" placeholder="loftschool@study.com" id="input_label-mail").input__form.input__form--mail
                    label(for="input_label-mail").input__label.input__label--mail
                .input__container
                  .textarea__name Сообщение к письму
                  textarea(name="", cols="30", rows="10" id="textarea" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса" class="textarea__form")
                  label(for="textarea").textarea__label
                input(type="submit", value="Отправить").sibmit__button
          footer.footer
            .container.footer__container
              .copyright
                .copyright__year 2019
                .copyright__content
                  .copyright__content--name Анна Макарова
                  .copyright__content--type Личный сайт веб-разработчика
              .footer__content
                nav.nav.nav__footer
                  ul.nav__list
                    - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                    each item in menu
                      li.nav__item
                        a(href="#").nav_link #{item}
                .footer__content--col
                 .left__col
                  p.left__col--text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                  .footer__links
                    ul.socials.socials__footer
                      - var socials = ['insta', 'vk', 'github'];
                      each item in socials
                        li.socials__item.socials__item--rounded
                          a(href="#").socials__link
                            +icon(`${item}`, 'socials__icon--footer')
                 .right__col 
                  p.right__col--content Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                  .autor Martin Golding

include ./templates/entry.pug
                



              


                          