include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome_section
          //style=`background: url('${require('./images/content/welcome_bg.png')}')
        
        
          section.hero
            .container.hero_container
              header.header
              .logo
                //+image(`favicon.png`, 'logo_img')
              .header_menu
                nav.nav
                  ul.nav_list
                    - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                    each item in menu
                      li.nav_item
                        a(href="#").nav_link #{item}
              .header_links
                ul.socials
                    - var socials = ['insta', 'vk', 'github'];

                    each item in socials
                      li.socials_item
                        a(href="#").socials_link
                          +icon(`${item}`, 'socials_icon')
              .hero_content
                .user_info
                  .user_info-description 
                    p.first_paragraph Личный сайт
                    p.second_paragraph веб разработчика
                  .user_info-name
                    p.first_paragraph Макарова
                    p.second_paragraph Анна
              .hero_bottom-buttons
                .scroll_down-button Скролл
                .scroll_down-img
                  a(href="#").scroll_link
          section.about
            .container.container_about
              .about_left
                .user
                  .user_avatar
                  .user_data
                    table.user_data-table
                      - 
                        var data = [
                          ['Проживаю', 'Москва'],
                          ['Возраст', '27 лет'],
                          ['Родилась', '9 апреля 1992']
                        ]
                      each row in data
                        tr.user_data-row
                          td.user_data-cell #{row[0]}
                          td.user_data-cell #{row[1]}
                    
              .about_right 
                .about_welcome Привет, меня зовут
                .about_name Макарова Анна
                .about_desc
                  p.first_desc.desc Я занимаюсь разработкой современных сайтов и приложений.
                  p.second_desc Мне нравится делать интересные и современные проекты.
                .about_desc
                  p.ps_paragraph Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        section.values
          .container.container_values
            .values_img 
            //рюкзак при помощт бекграунд
            .values_text
              h2.title.values_title Чем я могу быть полезен вам
              .values_description 
                p.desc.values_description_desc  Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
              ul.user-skills
              - 
                var skills = [
                  ['frontend', ['html', 'css', 'js']],
                  ['workflow', ['git', 'gulp', 'webpack']],
                ]
              each item in skills
                li.user-skills__item.skills-row
                  h3.skills-row__title #{item[0]}
                  ul.skills-row__list
                    each skill in item[1]
                      li.skills-row__item
                        .skill
                          svg(viewBox="0 0 134 134" preserveAspectRatio="none").skill_shape
                              circle(
                                r="62" cx="67" cy="67"
                              ).skill_circle-inner
                              circle().skill_circle-under
                                linear-gradient(to right, #ad00ed 0%, #5500f2 100%)
                          .skill_title #{skill}
                        //.skill_inner
                        //.skill_outer

              


                          